//zIndex
$zIndex-Elevate:2;
$zIndex-overElements:3;
$zIndex-backdrop:4;
$zIndex-overBackdrop:5;

//height
$height-Navbar: 60px;

//transitions


//bp
$breakpoints: (
  "sm": (
    max-width: 768px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 1200px,
  ),
);

//color
$color-primary: #5ece7b;
$color-primary-dk: #509c64;
$color-black: rgba(29, 31, 34, 1);

//shadow
$shadow: rgba(168, 172, 176, 0.447);
