.ProductListing {

  &__Title{
        padding: 60px;
        height: 30vh;
        font-size: 35px;
        h4{
            font-weight: 400;
        }
        @include flex(unset, center);
    }
  &__Cards {
    padding-bottom: 30px;
    justify-items: center;
    display: grid;
    gap: 35px 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
